/*========================VAR=====================*/
:root {
	/* ========COLOR-GAMMA============ */
	--primary-brand-color: #4D5AE5;
	--dark-color: #2E2F42;
	--text-color: #434455;
	--sub-text-color: #8E8F99;
	--accent-color: #E7E9FC;
	--light-color: #F4F4FD;
	--doc-color: #FFFFFF;
	--active-hero-button: #404BBF;
	--portfolio-page-color: #E5E5E5;
	--social-active-color:#31D0AA;
	/* ========/COLOR-GAMMA============ */

	/* ========MODAL-GAMMA============= */
	--backdrop-color:rgba(46, 47, 66, 0.4);
	--modal-window:#FCFCFC;
	/* ========/MODAL-GAMMA============= */

	/* ===============INDEX============= */
	--backdrop-idx:100;
	--modal-idx:1000;
	/* ==============/INDEX============= */

	/* ===============VALUE============= */
	--main-value: 24px;
	/* ==============/VALUE============= */

	/* ==============TRANSITION========= */
	--main-cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1);
	--main-duration:250ms;
	/* =============/TRANSITION========= */
}
/*========================/VAR=====================*/

/* =====================BODY-STYLES================ */
h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	background-color: var(--doc-color);
	color: var(--text-color)
}


.container{
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

@media screen and (min-width:428px){
	.container{
		width:428px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width:768px) {
	.container{
		width: 768px;
	}
}
@media screen and (min-width:1188px) {
	.container {
		/* width: 1188px; */
		width: 1158px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.buttons {
	align-items: center;
	border: 0;

	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.04em;

	
}

.buttons:hover,
.buttons:focus {
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* =====================/BODY-STYLES================ */

/* =====================HEADER====================== */
.header {
	box-shadow: 
		0px 2px 1px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}

 .header-container {
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.logo {
    display: inline-block;
	padding-top: var(--main-value);
	padding-bottom: 28px;

	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;

	color: var(--primary-brand-color);
}

.header-logo {
	color: var(--dark-color);
}


@media screen and (max-width:767px) {
	.navigation-list{
		display: none;
	}

	.contact-list{
		display: none;
	}
}

.burger-menu-button {
	display: flex;
	justify-content: center;
	padding: 0;

	background-color: transparent;
}

.burger-menu-button:hover>.burger-menu-icon,
.burger-menu-button:focus>.burger-menu-icon{
	fill:var(--active-hero-button);
}

@media screen and (min-width:768px) {
	.logo{
		margin-right: 123px;
	}

	.burger-menu-button {
		display: none;
	}

	.navigation {
		display: flex;
		align-items: center;

		color: var(--dark-color);
	} 
	.navigation-list {
		display: flex;
	}

	.navigation-item:not(:last-child) {
		margin-right: 40px;
	}

	.navigation-link {
		position: relative;

    	display: inline-block;
    	padding-top: var(--main-value);
		padding-bottom: 28px;

		font-weight: 500;

		color: inherit;
	
		transition: color var(--main-duration) var(--main-cubic-bezier);
	}

	.navigation-link.current{
		color: var(--active-hero-button);
	}

	.navigation-link::after{
		content: '';

		transition: background-color var(--main-duration) var(--main-cubic-bezier);
	}

	.navigation-link.current.navigation-link::after{
		content: '';

		position:absolute;
		bottom:0;
		left:0;

		width:100%;
		height:4px;
		border-radius: 2px;
		background-color: var(--active-hero-button);
	}

	.contact-item{
		/* margin-bottom: 10px; */
	}

	.contact-item:not(:last-child){
		/* margin-top:24px; */
		margin-bottom: 4px;
	}

	.contact-link{
		display: block;
		font-size: 12px;
		line-height: 1.33;
		color: var(--text-color);

		transition: color var(--main-duration) var(--main-cubic-bezier);
	}

	.contact-link:hover,
	.contact-link:focus {
		color: var(--primary-brand-color);
	}
}
@media screen and (min-width:1188px) {
	.logo{
		margin-right: 77px;
	}

	.contact-list {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.contact-item{
		/* margin-bottom: 0; */
	}
	
	.contact-item:not(:last-child) {
			margin-top: 0;
		margin-bottom: 0;
		margin-right: 40px;
	}

	.contact-link {
		display: inline-block;
		padding-top: var(--main-value);
		padding-bottom: 28px;

		font-size: 16px;
		line-height: 1.33;
	}
}

/* ====================MOBILE-MENU=================== */
.mobile-menu{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	/* display: flex;
	justify-content: space-around;
	flex-direction: column; */
	background-color:var(--doc-color);
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
				0px 1px 1px rgba(46, 47, 66, 0.16), 
				0px 1px 6px rgba(46, 47, 66, 0.08);

	visibility: hidden;
	opacity: 0;
	pointer-events: none;

	transform: translateX(100%);

	transition: visibility var(--main-duration) var(--main-duration),
				opacity var(--main-duration) var(--main-cubic-bezier),
				transform var(--main-duration) var(--main-cubic-bezier);
}

.mobile-menu.is-open{
	visibility: visible;
	opacity: 1;
	pointer-events: all;

	transform: translateX(0);
}

.mobile-menu-container{
	padding: 80px 40px 40px 40px;
}

.mobile-menu-close {
	position: absolute;
	right: 40px;;
	top: 40px;
	z-index: var(--modal-idx);

	width: 24px;
	height: 24px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:var(--accent-color);

	/* margin-bottom: 16px; */
}

.mobile-menu-icon {}

.mobile-navigation-list {
	margin-bottom: 284px;
	/* margin-top: 80px; */
}

.mobile-navigation-item {
	margin-bottom: 40px;
}

/* .mobile-navigation-item:first-child {
	margin-top: 160px;
} */

.mobile-navigation-link {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	color: var(--dark-color);
	transition: color var(--main-duration) var(--main-cubic-bezier);

	/* display: flex;
    justify-content: center;
    align-items: center; */
    width: 40px;
    height: 40px;
    /* background-color: var(--color-style-logo); */
    border-radius: 50%;
}

.current {
	color: var(--active-hero-button);
}

.mobile-navigation-link:hover,
.mobile-navigation-link:focus{
	color: var(--active-hero-button);
}

.mobile-contact-list {
	margin-bottom: 48px;
}

.mobile-contact__phone-item {
	margin-bottom: 40px;
}

.mobile-contact__phone-link {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.1;

	color:var(--primary-brand-color);
}

.mobile-contact__email-item {}

.mobile-contact__email-link{
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;

	color:var(--text-color);
}

.mobile-social-list {
	display: flex;
	/* align-items: center; */


	/* justify-content: flex-start; */
	/* justify-content: space-between; */
	gap: 56px;
	/* justify-content: flex-start; */
	/* margin-left: 40px; */


	/* margin-right: auto;
	margin-left: auto; */
}

@media screen and (max-width: 767.98px) {
	.mobile-social-list {
		/* margin-right: 0; */
		/* flex-basis: calc((100% - 3 * 40px) / 4); */

		/* gap: calc((100% - 3 * 40px) / 4); */
	}
}

@media screen and (min-width: 320px) {
	.mobile-social-list {
		margin-right: 0;
		/* flex-basis: calc((100% - 3 * 40px) / 4); */

		gap: calc((100% - 3 * 40px) / 4);
	}
}

.mobile-social-list:not(:last-child) {
	/* margin-right: 56px; */
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
	background-color: var(--active-hero-button);
}

.mobile-menu-close:hover>.mobile-menu-icon,
.mobile-menu-close:focus>.mobile-menu-icon{
	fill:var(--doc-color);
}

.mobile-social-icon {
    width: 24px;
    height: 24px;
	
	fill:var(--light-color);
}
/* ====================MOBILE-MENU=================== */
/* =====================/HEADER====================== */

/* =====================MAIN====================== */
.section-head {
	margin-bottom: 8px;

	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;

	color: var(--dark-color);
}

.section-head.soft-skill-head{
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
}	

.section-title {
	margin-bottom: 72px;
	text-align: center;

	font-weight: 600;
	font-size: 36px;
	line-height: 1.1;
	
	color: var(--dark-color);
}

.section {
	padding-top: 96px;
	padding-bottom: 96px;
}

@media screen and (min-width:1188px) {
	.section-head.soft-skill-head{
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
	}	

	.section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
/* =====================/MAIN====================== */

/* =====================HERO====================== */
.hero {
	max-width: 1440px;
	padding-top: 112px;
	padding-bottom: 112px;
	margin: 0 auto;
	
	font-weight: 700;
	
	background-color: var(--dark-color);
	background-image:
	linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
	url(../image/main/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:
	linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
	url(../image/main/bg@2x.jpg);
  }
}

@media screen and (min-width:768px) {
	.hero{
		/* padding-top: 188px;
		padding-bottom: 188px; */

		/* padding-top: 112px;
		padding-bottom: 204px; */

		padding-top: 112px;
		padding-bottom: 108px;
	}

	/* .hr-container {
		padding-top: 112px;
		padding-bottom: 204px;
	} */
}

@media screen and (min-width:1158px) {
	.hero{
		/* padding-top: 112px;
		padding-bottom: 108px; */

		padding-top: 188px;
		padding-bottom: 188px;
	}
}

.hero-head {
	/* width: 318px; */
	margin-bottom: 48px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;

	font-size: 36px;
	line-height: 1.11;

	color: var(--doc-color);
}

@media screen and (min-width:768px) {
	.hero-head{
		width:494px;

		font-size: 56px;
		line-height: 1.07;
	}
}

.hero-button {
	display: block;
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;

	line-height: 1.19;

	background-color: var(--primary-brand-color);
	color: var(--doc-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	transition: background-color var(--main-duration) var(--main-cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
	background-color:var(--active-hero-button);
}
/* =====================/HERO====================== */

/* =====================SOFT-SKILLS================ */
.soft-skill-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 264px; */
	height: 112px;
	margin-bottom: 8px;

	background-color:var(--light-color);
}

.soft-skill-icons {
	width: 64px;
	height: 64px;
}

@media screen and (min-width:768px) {
	.soft-skill-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1*var(--main-value));
	margin-bottom: calc(-1*72px);
	}

	.soft-skill-items {
		flex-basis: calc(100%/2 - var(--main-value));
		margin-left: var(--main-value);
		margin-bottom: 72px;
	}
}

@media screen and (min-width:1188px){
	.soft-skills {
		padding-bottom: 0;
	}

	.soft-skill-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(-1*var(--main-value));
		margin-bottom: calc(-1*var(--main-value));
	}

	.soft-skill-items {
		flex-basis: calc(100%/4 - var(--main-value));
		margin-left: var(--main-value);
		margin-bottom: var(--main-value);
	}
}
.soft-skill-text {}

@media screen and (max-width:767px) {
	.soft-skill-items:not(:last-child){
		margin-bottom: 72px;
	}

	.soft-skill-head{
	text-align: center;
	}
}

@media screen and (max-width:1187px) {
	.soft-skill-container{
		display:none;
	}
}
/* =====================/SOFT-SKILLS================ */

/* =====================WHAT-WE-DOING================ */


.doing-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1*var(--main-value));
	margin-bottom: calc(-1*72px);
}

.doing-item {
	flex-basis: calc(100%/3 - var(--main-value));
	margin-left: var(--main-value);
	margin-bottom: 72px;
}

@media screen and (max-width:1187px) {
	.doing {
		display: none;
	}
}
/* =====================/WHAT-WE-DOING================ */

/* =====================TEAM========================== */
.team {
	background-color: var(--light-color);
}

@media screen and (max-width:767px) {
	.team{
		padding-bottom: 128px;
	}

	.team-item{
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
	}

	.team-item:not(:last-child){
		margin-bottom: 72px;
	}
}
.team-item{
	background-color: var(--doc-color);
	box-shadow:
		0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 32px;
}

@media screen and (min-width:768px) {
	.team{
		padding-bottom: 104px;
	}

	.team-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: calc(-1*var(--main-value));
		margin-bottom: calc(-1*64px);
	}

	.team-item {
		flex-basis: calc(100%/2 - var(--main-value));
		margin-left: var(--main-value);
		margin-bottom: 64px;
		max-width: 264px;
	}
}

@media screen and (min-width:1188px){
	.team{
		padding-bottom: 120px;
	}

	.team-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(-1*var(--main-value));
		margin-bottom: calc(-1*var(--main-value));
	}

	.team-item {
		flex-basis: calc(100%/4 - var(--main-value));
		margin-left: var(--main-value);
		margin-bottom: var(--main-value);
	} 
}

.team-member {
	margin-bottom: 32px;
}

.team-item>.section-head {
	text-align: center;
}

.team-position {
	text-align: center;
	margin-bottom: 12px;
}

.team-social-list {
	display: flex;
	justify-content: center;
	align-items:center;
	gap:24px;
}

.team-social-item {
	width:40px;
	height:40px;
}

.team-social-link {
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

    background-color: var(--primary-brand-color);

	transition: background-color var(--main-duration) var(--main-cubic-bezier) ;
}

.team-social-link:hover,
.team-social-link:focus{
	background-color:var(--active-hero-button);
}

.team-social-icon {
    width: 16px;
    height: 16px;
	
	fill:var(--light-color)
}
/* =====================/TEAM========================== */

/* =====================CUSTOMERS====================== */

.customers {}

/* .customer-list {
	display: flex;
	gap:24px;
	justify-content: center;
	align-items: center;
} */
.customer-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 72px;
	column-gap: 16px;
	
}

.customer-item{
	width: 190px;
	height: 88px;
}

@media screen and (min-width:768px) {
	.customer-list{
		column-gap: 24px;
	}

	.customer-item{
		width: 168px;
	}
}

.customer-link:hover,
.customer-link:focus{
	border-color: var(--primary-brand-color);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon{
	fill:var(--primary-brand-color);
}

.customer-link{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	border: 1px solid #8E8F99;
	border-radius: 4px; 

	transition: border-color var(--main-duration) var(--main-cubic-bezier);
}

.customer-icon {
 	fill:var(--sub-text-color);

	transition: fill var(--main-duration) var(--main-cubic-bezier);
}
/* =====================/CUSTOMERS====================== */

/* =====================FOOTER====================== */
.footer {
	padding-top: 96px;
	padding-bottom: 96px;

	background-color: var(--dark-color);
}

.footer>.container{
	display: flex;
	flex-direction: column;
}

.footer-container {
	/* margin: 0 auto; */

	/* margin-right: auto;
	margin-left: auto; */

	/* margin-left: 108px; */

	/* margin-bottom: 72px; */
}

@media screen and (min-width: 767.8px) {
	.footer-container {
		/* margin-left: auto;
		margin-right: auto; */

		/* text-align: center; */
	}
	.footer .container {
		/* margin-left: auto;
		margin-right: auto; */

		/* text-align: center; */
		/* display: flex;
		column-gap: 24px;
		row-gap: 72px;
		flex-wrap: wrap; */

		/* width: 768px; */
	}	
}

.footer .logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 0;
    margin-bottom: 16px;
}

.footer-logo {
	color: var(--light-color);
}


.footer-text {
	/* max-width: 264px; */
	width: 264px;
    /* margin-top: 16px; */

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px;


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* text-align: justify; */

	color: var(--accent-color);
}

.footer-social-container {
	margin-left: 120px;
}

.footer-social-container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 72px;
}

.social-media{
	text-align: center;
}

.social-media,
.subscribe-form-text {
	margin-bottom: 16px;

	font-weight: 600;
	line-height: 1.5;

	color: var(--doc-color);
}

.footer-social-list {
	display:flex;
	gap: 16px;
}

.footer-social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;

}

.footer-social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;

	transition: background-color var(--main-duration) var(--main-cubic-bezier);
}

.footer-social-link:hover,
.footer-social-link:focus{
	background-color:var(--social-active-color);
}

.footer-social-icon {
	width:24px;
	height:24px;

	fill:var(--light-color);
}

/* .subscribe-form {
	margin-left: 80px;
} */

.subscribe-form-text {
	text-align: center;
}

.subscribe-wrapper {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-form-field{
	width: 100%;	
	margin-bottom: 16px;	
}


@media screen and (min-width:768px) and (max-width:1187.98px) {
	.xtra-footer-container {
		/* display: flex; */
		/* width: 768px; */

		/* margin-left: auto;
		margin-right: auto; */

		/* display: flex;
		column-gap: 24px;
		row-gap: 72px;
		flex-wrap: wrap; */
	}
}

@media screen and (min-width:768px) {
	.footer>.container{
		/* display: flex; */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

		/* margin-left: auto;
		margin-right: auto; */

		width: 768px;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* ------------------------ */
	.xtra-footer-container {
		/* display: flex;
		column-gap: 24px;
		row-gap: 72px;
		flex-wrap: wrap; */

		/* width: 768px;
		margin-left: auto;
		margin-right: auto; */
	}
	/* ------------------------- */

	.footer .logo{
		text-align: start;
	}

	.footer-container{
		/* margin-left: 108px;
		margin-right: 0; */

		/* margin-left: auto;
		margin-right: auto; */
	}

	.xtra-footer-container {
		/* margin-left: auto;
		margin-right: auto; */
	}

	.footer-social-container{
		margin-left: 24px;
		margin-right: 0;
	}

	.social-media{
		text-align: start;
	}

	.subscribe-form{
		/* margin-left: 108px; */


		/* margin-left: auto;
		margin-right: auto; */
	}

	.subscribe-form-field{
		width: 264px;
		margin-bottom: 0;
	}

	.subscribe-form-button{
		margin-left: 24px;
	}

	.subscribe-form-text{
		text-align: start;
	}

	.subscribe-wrapper{
		flex-direction: row;
	}
}

@media screen and (min-width:1188px) {
	.footer{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.footer>.container{
		flex-wrap: nowrap;
		justify-content: center;
	}

	.footer-container{
		margin:0;
	}

	.footer-social-container{
		margin-left: 120px;
		margin-bottom: 0;
	}

	.subscribe-form{
		margin-left: 80px;
	}
}

.subscribe-form-input {
	width: 100%;
	height: 40px;
	padding-left: 16px;

	background-color:transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	outline: none;
	color: var(--doc-color);
}

.subscribe-form-button {
	display: flex;
	/* margin-left: 24px; */
	padding: 8px 24px;

	color:var(--doc-color);
	background-color: #4D5AE5;
	border-radius: 4px;

	transition: background-color var(--main-duration) var(--main-cubic-bezier);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus{
	background-color: #404BBF;
}

.subscribe-button-text {
	font-weight: 500;
	line-height: 1.5;
}

.subscribe-form-icon {
	margin-left: 16px;

	fill:currentColor;
}
/* =====================/FOOTER====================== */

/* =====================PORTFOLIO====================== */
.work {	
	padding-top: 96px;
}

/* =====================FILTER========================== */
.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 72px;
}

.filter-item:not(:first-child) {
	margin-left: var(--main-value);
}

.filter-buttons {
	padding: 12px 24px;
	border-radius: 4px;
	border:0;

	line-height: 1.5;

	color: var(--primary-brand-color);
	background-color: var(--light-color);

	transition: color var(--main-duration) var(--main-cubic-bezier),
	 background-color var(--main-duration) var(--main-cubic-bezier),
		   box-shadow var(--main-duration) var(--main-cubic-bezier);
}

.filter-buttons:active,
.filter-buttons:hover,
.filter-buttons:focus {
	background-color: var(--primary-brand-color);
	color: var(--doc-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 2px 1px rgba(0, 0, 0, 0.08),
				0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =====================/FILTER========================== */

/* =====================WORKS============================ */
.work-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1*var(--main-value));
	margin-bottom: -48px;
}

.work-item {
	position: relative;

	flex-basis: calc(100%/3 - var(--main-value));
	margin-left: var(--main-value);
	margin-bottom: 48px;
}

.work-link {
	display: block;

	color: inherit;
	border-bottom: 0.5px solid #F4F4FD;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
	background-color: var(--doc-color);

	transition:box-shadow var(--main-duration) var(--main-cubic-bezier);
}

.work-link:hover,
.work-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
				0px 1px 1px rgba(46, 47, 66, 0.16), 
				0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-overlay{
	position: relative;
	overflow: hidden;
}

.work-link>img {}

.work-overlay-text {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, 100%);
	overflow: auto;

	width: 100%;
	height: 100%;
	padding: 40px 32px 164px;

	font-weight: 400;

	background-color:var(--primary-brand-color);
	color: var(--light-color);

	transition: transform var(--main-duration) var(--main-cubic-bezier);
}

.work-link:hover .work-overlay-text,
.work-link:focus .work-overlay-text{
	transform: translate(0, 0);
}

.portfolio-content-wrapper{
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 16px;
}

.work-projects {}


/* =====================/WORKS============================ */
/* =====================/PORTFOLIO====================== */

/* =====================MODAL====================== */
.backdrop {
	position: fixed;
	top:0;
	left:0;
	z-index: var(--backdrop-idx);

	width: 100%;
	height: 100%;

	background-color: var(--backdrop-color);

	transition: visibility var(--main-duration) var(--main-cubic-bezier),
	opacity var(--main-duration) var(--main-cubic-bezier);
}

.backdrop.is-hidden{
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal{
	opacity: 0;
	transform: translate(-50%, -50%) scale(1.1);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	padding: 72px 24px 24px;

	width: 392px;

	background-color: var(--modal-window);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
				0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	
	transition: transform var(--main-duration) var(--main-cubic-bezier),
	              opacity var(--main-duration) var(--main-cubic-bezier);
}

.modal-btn {
	position: absolute;
	right:var(--main-value);
	top: var(--main-value);
	z-index: var(--modal-idx);

	width: 24px;
	height: 24px;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus{
	background-color: var(--active-hero-button);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon{
	fill:var(--doc-color);
}

.modal-icon {}

.modal-form {}


.modal-form-appeal {
	display: block;
	text-align: center;
	margin-bottom: 16px;

	font-weight: 500;
	line-height: 1.5;

	color: var(--dark-color);
}
@media screen and (max-width:768px){
	.modal{
		width: 392px;
	}
}

@media screen and (max-width:1188px) {
	.modal-form-appeal {
		margin-bottom: 14px;
	}
}
.modal-label-group {}



.modal-form-field{
	position: relative;
	display: block;
	margin-bottom: 8px;
}

.comment-field{
	margin-bottom: 16px;
}

.modal-form-input:focus{
	border: 1px solid #4D5AE5;
	border-radius: 4px;
}

.modal-form-label {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.13;

	color: var(--sub-text-color);
}

.modal-form-label.first-label{
	line-height: 1.33;
}

.modal-form-input {
	width: 100%;
	height: 40px;
	padding-left: 38px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;

	font-size: 18px;

	transition: border-color var(--main-duration) var(--main-cubic-bezier);
}

.modal-form-icon {
	position: absolute;
	left: 19px;
	bottom:11px;

	transition: fill var(--main-duration) var(--main-cubic-bezier);
}

.modal-form-input:focus + .modal-form-icon{
	fill:var(--primary-brand-color);
}

.modal-form-comment{
	display: block;
	resize: none;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 16px;
	padding-top: 8px;

	font-size: 12px;
	line-height: 1.33;
	outline: none;

	transition: border-color var(--main-duration) var(--main-cubic-bezier);
}

.modal-form-comment::placeholder{
	color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus{
	border: 1px solid #4D5AE5;
	border-radius: 4px;
}

.modal-form-agree {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-bottom: 24px;
}

.modal-form-checkbox {}

.modal-form-check {}

.check{
	opacity: 0;

	transition: opacity var(--main-duration) var(--main-cubic-bezier);
}

.uncheck{
	opacity: 1;

	transition: opacity var(--main-duration) var(--main-cubic-bezier);
}

.modal-form-checkbox:checked + .modal-form-check>.check{
opacity: 1;
}

.modal-form-checkbox:checked + .modal-form-check>.uncheck{
opacity: 0;
}

.modal-form-agree-text {
	font-size: 12px;
	line-height: 1.33;

	user-select: none;
}

.modal-form-agree-link {
font-size: 12px;
line-height: 1.33;

color:var(--active-hero-button);
}

.modal-form-button{
	display: block;
	padding: 16px 32px;
	min-width: 169px;
	margin: 0 auto;

	color: var(--doc-color);
	background-color:var(--primary-brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-weight: 500;
	line-height: 1.5;

	transition: background-color var(--main-duration) var(--main-cubic-bezier);
}

.modal-form-button:hover,
.modal-form-button:focus{
	background-color:var(--active-hero-button);
}
/* =====================/MODAL====================== */